/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2020-2022 Louis Brauer <louis@brauer.family>
 */
/*
* {
    background-color: rgba(200, 200, 200, 0.9);
    color: #000000;
}

.image-button { 
    border-color: red;
    
}
*/
/*
button {
    border-color: red;
    border-style: hidden;
}
*/

/*
.window.title {
    background-color: transparent;
    background-image: url("/io/github/louis77/tuner/icons/background-tuner");
    background-size: cover;
}
*/

.stack-label {
    font-weight: 300;
    font-size: 18pt;
    letter-spacing: -0.05em;
}

.station-button {
	font-weight: 500;
}

.station-button-description { 
    font-size: 14px;
    color: gray; 
    background-color: transparent;
    border: none;
}

/* .station-button {
    background-color: darker(@bg_color); 
    border: none;
} */

.station-button:hover {
        background-color: transparent;
        border: none;
        border-style: none;
}
/* 
.station-button image {
	border-width: 0;
	border: none;
	background-color: darker(@bg_color);
	margin-right: 5px;
    min-width: 48px;
}

.station-label {
    font-weight: 200;
    font-size: 13pt;
    letter-spacing: -0.05em;
}

.track-info {
    font-weight: 200;
    font-size: 12pt;
    letter-spacing: -0.05em;
}


/* Used in Station Button for Codec/Bitrate Tag */
.tag {
	border-radius: 5px;
    box-shadow: none;
    min-width: 20px;
    min-height: 18px;
    font-size: 11px;
    font-weight: 400;
    margin-top: 3px;
    margin-left: -2px;
    padding-bottom: 0px;
}

