/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2020-2022 Louis Brauer <louis@brauer.family>
 */

 @import url("Tuner-system.css");

* {
    background-color: rgba(200, 200, 200, 0.9);
    color: #000000;
}

button {
    background-color: rgba(200, 200, 200, 0.0);
}