/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2020-2022 Louis Brauer <louis@brauer.family>
 */

.h2 {
    font-weight: 300;
    font-size: 18pt;
    letter-spacing: -0.05em;
}

.h3 {
	font-weight: 500;
}

.station-button-description { 
    font-size: 14px;
    color: gray; 
    background-color: transparent;
    border: none;
}

/* .station-button {
    background-color: darker(@bg_color); 
    border: none;
} */

.station-button:hover {
        background-color: transparent;
        border: none;
        border-style: none;
}
/* 
.station-button image {
	border-width: 0;
	border: none;
	background-color: darker(@bg_color);
	margin-right: 5px;
    min-width: 48px;
} */

/* Used in Station Button for Codec/Bitrate Tag */
.tag {
	border-radius: 5px;
    box-shadow: none;
    min-width: 20px;
    min-height: 18px;
    font-size: 11px;
    font-weight: 400;
    margin-top: 3px;
    margin-left: -2px;
    padding-bottom: 0px;
}

